.idea
.idea/**/*
*.iml
*.ipr
*.iws
development.log
data/
solrDev/product/data
solrDev/product/data/**/*
solrDev/user/data
solrDev/user/data/**/*
solrTest/product/data
solrTest/product/data/**/*
solrTest/user/data
solrTest/user/data/**/*
src/java/project-build.properties
target
target/**/*
web-app/WEB-INF/tld/c.tld
web-app/WEB-INF/tld/fmt.tld
private/**
mongodb.*.log
stacktrace.log
heartbeat.log
*~
*.bak
*.orig
lib/build
lib/compile
lib/test
lib/runtime
atlassian-ide-plugin.xml
.classpath
.project
Thumbs.db
.settings
out/
_version.gsp
liveData/
mailDump/
tmp/
.DS_Store
local-plugins/**/plugin.xml

# Used by Gradle
.gradle/
build/
